@import '../../styles/variables';

.search-form {
  position: relative;
  &__field {
    input {
      padding-right: 45px;
    }
  }
  &__submit-btn {
    position: absolute;
    right: 17px;
    top: 17px;
  }
}
